[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */__pycache__/*
    */management/commands/*
    */admin.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__
    raise NotImplementedError
